*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: aqua;
    
}

#calculator{
    background-color: black;
    width:100%;
    min-height:100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#operands{
    background-color: inherit;
    width: 90%;
    min-height:35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 70px;
    text-align: right;
    padding: 3%;
    border-bottom: 1px solid gray;
}
#operand_1{
    font-size: 40px;
    font-weight: 700;
}

#btn_calculator{
    width: 90%;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn_calculator_row{
    width: 100%;
    min-height: 9.2vh;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 22%;
    font-size: 30px;
    font-weight: 500;
    border:none;
    border-radius: 50%;
    background-color: inherit;
    color: white;
}
.btn_not_number{
    color: rgb(255, 68, 0);
    font-weight: 600;
} 

#btn_equal{
    color: white;
    background-color: rgb(255, 68, 0) ;
}

.btn:not(#btn_equal):hover{
    background-color: rgb(10, 10, 10);
}

